
/**
 * Highlighting
 */

.doc-editable.doc-snippet-highlight,
.doc-snippet-highlight {
  /* Default */
  /*outline: thin dotted #333;*/
  box-shadow: 0 0 1px 2px rgba(123, 215, 253, 0.5);

  /* Webkit */
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: 1px;*/
}

.doc-container-highlight {
  outline: medium dashed rgba(255, 196, 13, 0.5);
}


/**
 * Content Editable
 */

.doc-editable {
  /* disable browser highlight of contenteditable */
  outline: none;
}

@-webkit-keyframes fadeIn {
  0% {   opacity: 0; }
  100% { opacity: 0.4; }
}

.doc-editable:before {
  content: attr(data-doc-placeholder);
  opacity: 0.4;
  -webkit-animation: fadeIn 0.4s;
}


/**
 * Drag & Drop
 */

/*@-webkit-keyframes dragged {
  0% {-webkit-transform:rotate(2deg);}
  50% {-webkit-transform:rotate(-2deg);}
  100% {-webkit-transform:rotate(0deg);}
}*/

@-webkit-keyframes wiggle {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  20% { -webkit-transform: scale(1.02); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes pulse-dragged {
  0% {  -webkit-transform: scale(1); opacity: 1; }
  20% { -webkit-transform: scale(1.02); }
  100% { -webkit-transform: scale(1); opacity: 0.3; }
}

.doc-dragged-placeholder {
  outline: medium dashed rgba(255, 196, 13, 0.5);
  opacity: 0.8;
}

.doc-dragged {
  -webkit-animation: pulse 0.3s;
  opacity: .4;
}

.doc-before-drop {
  -webkit-transition: all 0.3s;
  -webkit-transform: translateY(-25px);
}

.doc-after-drop {
  -webkit-transition: all 0.3s;
  -webkit-transform: translateY(25px);
}

.doc-drag-placeholder-item {
  margin-top: 18px;
  margin-left: 12px;
  position: absolute;
  background: #09D;
  border-radius: 5px;
  padding: 0 10px;
  padding-left: 20px;
  /*border: 1px solid #efefef;*/
  color: #fff;
  height: 25px;
  line-height: 25px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.doc-drag-counter {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  background: #09D;
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.doc-drag-no-drop {
  background: #dd0009;
  opacity: 0.5;
}

.doc-drag-no-drop .doc-drag-counter {
  background: #dd0009;
}

.doc-drop-marker {
  position: absolute;
  margin-top: -3px;
  min-width: 20px;
  height: 6px;
  border-radius: 3px;
  background: #09d;
}


/**
 * Longpress indicator
 */

/*@-webkit-keyframes ring {
  20% { border: 4px solid rgba(0, 0, 0, 0.2); }
  100% { -webkit-transform: scale(1.3); border: 4px solid rgba(0, 0, 0, 0.1); }
}

.doc-longpress-indicator {
  position: absolute;
  margin-top: -7px;
  margin-left: -7px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  -webkit-animation: ring 0.4s;
}*/

@-webkit-keyframes ring {
  20% { -webkit-transform: scale(3.5); border: 3px solid rgba(0, 0, 0, 0); }
  100% { border: 3px solid rgba(0, 0, 0, 0.2); }
}

.doc-longpress-indicator {
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 2px;
  height: 2px;
  pointer-events: none;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-animation: ring 0.4s ease-in;

}

@-webkit-keyframes inner-ring {
  20% { border: 1px solid rgba(0, 0, 0, 0); }
  100% { border: 1px solid rgba(0, 0, 0, 0.3); -webkit-transform: scale(0.3); }
}

.doc-longpress-indicator div {
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;

  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-animation: inner-ring 0.4s ease-in;
}

/*@-webkit-keyframes line {
  20% { width: 0; }
  100% { width: 60px; margin-left: -30px;}
}

.doc-longpress-indicator {
  pointer-events: none;
  position: absolute;
  margin-top: 14px;
  margin-left: 0px;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: line 0.4s;
}*/


/**
 * Utils
 */

.doc-no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
