html, body {
  height: 100%;

}
.editor-section {
  position: absolute;
  top: 0;
  left: 161px;
  right: 321px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.editor-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
}

.editor-preview iframe,
.editor-section iframe {
  width: 100%;
  height: 100%;
}

.doc-toolbar {
  width: 160px;
  height: 100%;
  overflow: scroll;
}

.toolbar-entry {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
  cursor: move;

}
