
/**
 * Highlighting
 */

.doc-editable.doc-snippet-highlight,
.doc-snippet-highlight {
  /* Default */
  /*outline: thin dotted #333;*/
  box-shadow: 0 0 1px 2px rgba(123, 215, 253, 0.5);

  /* Webkit */
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: 1px;*/
}

.doc-container-highlight {
  outline: medium dashed rgba(255, 196, 13, 0.5);
}


/**
 * Content Editable
 */

.doc-editable {
  /* disable browser highlight of contenteditable */
  outline: none;
}

/**
 * Drag & Drop
 */

@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(2deg);}
  50% {-webkit-transform:rotate(-2deg);}
  100% {-webkit-transform:rotate(0deg);}
}


.doc-dragged-placeholder {
  /*-webkit-animation: wiggle 0.5s;*/
  outline: medium dashed rgba(255, 196, 13, 0.5);
  opacity: 0.8;
}

.doc-dragged {
  opacity: 0.2;
}

/**
 * Utils
 */

.doc-no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
