
/**
 * Highlighting
 */

.doc-editable.doc-snippet-highlight,
.doc-snippet-highlight {
  /* Default */
  /*outline: thin dotted #333;*/
  box-shadow: 0 0 1px 2px rgba(123, 215, 253, 0.5);

  /* Webkit */
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: 1px;*/
}

.doc-container-highlight {
  outline: medium dashed rgba(255, 196, 13, 0.5);
}


/**
 * Content Editable
 */

.doc-editable {
  /* disable browser highlight of contenteditable */
  outline: none;
}

/**
 * Drag & Drop
 */

/*@-webkit-keyframes dragged {
  0% {-webkit-transform:rotate(2deg);}
  50% {-webkit-transform:rotate(-2deg);}
  100% {-webkit-transform:rotate(0deg);}
}*/

@-webkit-keyframes wiggle {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  20% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes pulse-dragged {
  0% { -webkit-transform: scale(1); opacity: 1; }
  20% { -webkit-transform: scale(1.02); }
  100% { -webkit-transform: scale(1) opacity(0.5); opacity: 0.3; }
}


.doc-dragged-placeholder {
  outline: medium dashed rgba(255, 196, 13, 0.5);
  opacity: 0.8;
}

.doc-dragged {
  -webkit-animation: pulse-dragged 0.3s;
  opacity: 0.3;
}

.doc-drag-placeholder-item {
  position: absolute;
  background: #09D;
  border-radius: 5px;
  padding: 0 10px;
  padding-left: 20px;
  /*border: 1px solid #efefef;*/
  color: #fff;
  height: 25px;
  line-height: 25px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.doc-drag-counter {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  background: #09D;
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

/**
 * Utils
 */

.doc-no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
