
/**
 * Set a min height on doc-section so it does not disappear when emtpy
 */
.doc-section:empty {
  min-height: 100px;
}

/**
 * Mark empty links
 */
a[data-doc-link]:not([href]) {
  /* Custom broken link cursor 16x16 (http://thenounproject.com/term/broken-link/65715/) */
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAA9ElEQVQoFQXBvSsEABwA0Oc6i0xyyhkkxSnbicFiE0op8lFcNi6lKCQjWSSbKEUGbjGRWC4DGSxE8rH4+AuulEH9vAcAADS5dyMFAACQ8SqEOzUAK0YwbhCtSsKoTeFBA9AjdDuwLa0kDIAN4QUg49qqnBOhH5AX3oCcgh3wbBgwLTxpBDrNGJZQJgXIC5/SANQ69a0ZJCwLH9IAZP0IQ4B6V9YBIOtX6AO0gXlHJiGhw7lyvc7AgktJFard+gIehTHArLAnb9edCYB94UISc8K7SluO1fmzCJQrCEVrwpsU2nWhxQQAh0IoqgIAAGDKEgAA8A9/MkvGVwLypwAAAABJRU5ErkJggg==), auto;
  /* Custom broken link cursor 24x24 (http://thenounproject.com/term/broken-link/65715/) */
  /*cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAI3SURBVEiJrdVfaI9RGAfwzzZyseRi5HZIUv5lol1MbaWmZP5O/jWTKNwoSREXyKYopSSaC7mQS7uQi7mQJCGhxI3M/NkQiWzYXJzza+f32/tby/at0/ue9/k+3+ec55zneRk96nAfT7FiDPTysB/dGIjjK1pRNhbiJxPhwnG5WJCDOJPMS3ECuwt4rYlYD5ZiM/4k309lBTgSjVdRgvF4h3sJ53Qi8gGLE9ta/Iy2XmzJCnI8Eq5gAl7hTrQdTsTfYmGGf2PC+ZgVAA5Ewj604zoq8DlZ+aIivuuSAE8KjWWYFsW2oxIzMAUN0akLC4qIr8GPyOvGkkLCUXyKW3uA2sS2SkhLVRHx9ULec6vfmkWqxQVcQgsmJbbJmF5EfAP+JuJ7ivDyMBM7sBdzh+GlK+/HzpGIH8OX6PQb1RmcccI5pQW2ayTi5+QX0ZCDiqgWzus7Hgs1MCxKhPznxN9g3jD8iZhj+PTloS0Rfx2ds9CI+cl8Fh4KN6wTh1JyaXy2oDm+dwl3/lmGeBOuyS+yX0KrfhF9ewqd6oU8DuAlZhdZ+SaDzaxBOIPVqMFZIcWZuG0wNTVFOE2JeKfQo27guXBNB4Q0VWQ5p7k/b2gfb07sfVEQbgoXocxgg7uLqYUBKoWOmRO5mNi2JSvvE9KUwy28R3mcb4y89qxdrBSqMBekTfg35L71G9rbq4TzS1GP5VkBCNtMm1Vu9Aq9ZkxQhw58i6MDy0YjmHW1yoVCKsMjob//N/4BkHqveiNdRG8AAAAASUVORK5CYII=), auto;*/
}

.doc-section {
  /* Allow for some space at the end of the document to drop components in */
  padding-bottom: 150px;
}

/*
 * Clearfix for the main container
 */
.doc-section:before,
.doc-section:after {
  content:"";
  display:table;
}
.doc-section:after {
  clear:both;
}


/**
 * Component Highlighting
 */

.doc-editable.doc-component-highlight,
.doc-component-highlight {
  /* Default */
  /*outline: thin dotted #333;*/
  box-shadow: 0 0 1px 2px rgba(123, 215, 253, 0.5);

  /* Webkit */
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: 1px;*/
}


/**
 * Container Highlighting
 */

.doc-container-highlight {
  outline: medium dashed rgba(255, 196, 13, 0.5);
}

[data-doc-container]:hover {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}

[data-doc-container]:empty {
  min-height: 100px;
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  position: relative;
}

[data-doc-container]:empty:before {
  position: absolute;
  top: 0;
  right: 0;

  content: attr(data-doc-container);
  font-size: 12px;
  line-height: 1.2;
  padding: 1px 3px;

  color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.2);
}



/**
 * Content Editable
 */

.doc-editable {
  /* disable browser highlight of contenteditable */
  outline: none;
}

@keyframes fadeIn {
  0% {   opacity: 0; }
  100% { opacity: 0.4; }
}

.doc-editable:before {
  content: attr(data-doc-placeholder);
  opacity: 0.4;
  animation: fadeIn 0.4s;
}

.doc-editable.doc-no-placeholder:before {
  content: normal;
  opacity: 1;
  animation: none;
}


/**
 * Image Placeholder
 */

.doc-image-empty {
  background-size: 100% 100%;
}


/**
 * Drag & Drop
 */

@keyframes wiggle {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes pulse {
  0% { transform: scale(1); }
  20% { transform: scale(1.02); }
  100% { transform: scale(1); }
}

@keyframes pulse-dragged {
  0% {  transform: scale(1); opacity: 1; }
  20% { transform: scale(1.02); }
  100% { transform: scale(1); opacity: 0.3; }
}

.doc-dragged {
  animation: pulse 0.3s;
  opacity: .4;
}

.doc-before-drop {
  transition: all 0.3s;
  transform: translateY(-25px);
}

.doc-after-drop {
  transition: all 0.3s;
  transform: translateY(25px);
}

.doc-dragged-placeholder {
  margin-top: 18px;
  margin-left: 12px;
  position: absolute;
  background: #09D;
  border-radius: 5px;
  padding: 0 10px;
  padding-left: 20px;
  /*border: 1px solid #efefef;*/
  color: #fff;
  height: 25px;
  line-height: 25px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.doc-drag-counter {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  background: #09D;
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.doc-drag-no-drop {
  background: #dd0009;
  opacity: 0.5;
}

.doc-drag-no-drop .doc-drag-counter {
  background: #dd0009;
}

.doc-drop-marker {
  position: absolute;
  margin-top: -3px;
  min-width: 20px;
  height: 6px;
  border-radius: 3px;
  background: #09d;
}


/**
 * Longpress indicator
 */

@keyframes ring {
  20% { transform: scale(3.5); border: 3px solid rgba(0, 0, 0, 0); }
  100% { border: 3px solid rgba(0, 153, 221, 0.6); }
}

@keyframes inner-ring {
  20% { border: 1px solid rgba(0, 153, 221, 0); }
  100% { border: 1px solid rgba(0, 153, 221, 0.8); transform: scale(0.3); }
}

.doc-longpress-indicator {
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 2px;
  height: 2px;
  pointer-events: none;
  border-radius: 10px;
  border: 3px solid rgba(0, 153, 221, 0);
  animation: ring 0.4s ease-in;

}

.doc-longpress-indicator div {
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;

  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 153, 221, 0);
  animation: inner-ring 0.4s ease-in;
}


/**
 * Utils
 */

.doc-no-selection {
  user-select: none;
}
